extra_points1_2021.pdf
.DS_Store
ball_hits_video_ASE.txt
video_extraPoints_1.zip
video_extraPoints_1/game_simulations/2021-12-31 13-07-02.mp4
scaletta_video_ASE.txt
video_extraPoints_1/finalMovie_long.mp4
video_extraPoints_1/video_extraPoints1.mp4
